{% extends 'usuario/base.html' %}

{% block title %}Chats{% endblock title %}
{% load humanize %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 sidebar">
            <header class="header-chat">
                <div>
                    <h3 class="p-3 text-center">Usuarios</h3>
                </div>
            </header>
            <div id="profiles-container"></div>
            
            
        </div>
        <div class="col-md-9 col-lg-10 chat-container">
            {% block mensaje %}
            {% endblock mensaje %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function updateProfiles() {
        $.ajax({
            url: '/json/perfiles/',
            dataType: 'json',
            success: function (data) {
                var profiles = data.profiles;
                var html = '';
                for (var i = 0; i < profiles.length; i++) {
                    var profile = profiles[i];
                    var username = profile.username;
                    html += '<a class="btn btn-link position-relative ';
                    if ('{{request.resolver_match.kwargs.username}}' === username){
                        html += 'active-chat ';
                    }
                    html += 'imagen3" id="imagen3" href="{% url "chat" %}'+profile.username;
                    html += '"><div class="left-content">';
                    html += '<img src="'+profile.image+'" class="img" alt="imagen" class="d-inline-block align-text-top">';
                    if (profile.is_online) {
                        html += '<span class="activo"></span>&nbsp;&nbsp;'+profile.username;
                    } else {
                        html += '&nbsp;' +profile.username;
                    }
                    html += '</div>';
                    html += '<div class="right-content">';
                    if (!profile.is_online) {
                        html += '<span class="inactivo">'+profile.last_logout;
                        html += '</span>';
                    }
                    if (profile.has_unread_messages) {
                        html += '<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">'+profile.count+'</span>';
                    }
                    html += '</div>';
                    html += '</a>';
                }
                $('#profiles-container').html(html);
            },
            error: function (xhr, status, error) {
            }
        });
    }

    $(document).ready(function () {
        updateProfiles();
        setInterval(updateProfiles, 2000);
    });
</script>
{% endblock js %}